.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// Обертка для полей формы

.form-group {
	margin-bottom: 15px;
}

// Поля формы

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control {
	@include placeholder {
		color: $red;
	}

	&:focus {
		border-color: $yellow;
	}
}

.grid {
	img {
		display: block;
		width: 100%;
	}
}

.border {
	margin-top: 10px;
	text-align: center;
}

.head-text {
	border-bottom: $border;
	margin: 0;
	text-transform: uppercase;
	display: inline-block;
}

.border {
	@include media ('>=phone') {
		text-align: left;
	}

	@include media ('>=desktop') {
		border-left: 10px solid $light-gray;
		padding: 0;
		margin-left: 20px;
	}

	.head-text {
		@include media ('>=phone') {
			margin-left: 15px;
		}
	
		@include media ('>=tablet') {
			border-bottom: $border;
		}
	
		@include media ('>=desktop') {
			border-bottom: none;
		}
	
		@include media ('>=widescreen') {
			margin-left: 20px;
		}
	}
}

.card-box {
	display: flex;
	flex-wrap: wrap;
}

.card {
	@include media('>=phone') {
		display: flex;
		flex-wrap: wrap;
		width: calc(50% - 30px);
		margin: 22px 15px;
	}

	@include media ('>=tablet') {
		width: calc(33.33% - 30px);
	}

	@include media('>=desktop') {
		width: calc(33.33% - 40px);
		margin: 20px;
	}

	.box {
		@include media ('>=phone') {
			margin: 0;
		}
	}
}

h1 {
	@include media ('>=desktop') {
		font-size: $h1-font-size;
	}
}